<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iems5722project"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name="android.permission.WRITE_SMS" />
	<uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="com.example.iems5722project.permission.SINA_PUSH" />
	
	<permission
	android:name="com.example.iems5722project.permission.SINA_PUSH"
	android:protectionLevel="normal" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditPostActivity"
            android:label="@string/post_edit_activity" >
        </activity>
        <activity
            android:name=".CategoryActivity"
            android:label="@string/category_activity" >
        </activity>
        <activity
            android:name=".Tab_UI"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ViewPostActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".CommentActivity"
            android:label="@string/app_name" >
        </activity>       
        
		<service
		android:name="com.sina.push.service.SinaPushService"
		android:label="PushDataCenter"
		android:permission="com.example.iems5722project.permission.SINA_PUSH"
		android:process=":remote" >
		<intent-filter>
		    
		<action android:name="sina.push.action.service.22576" />
		<category android:name="android.category.DEFAULT" />
		</intent-filter>
		</service>
		
		<receiver android:name="com.sina.push.receiver.PushSDKReceiver" >
		<intent-filter>
		<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
		<action android:name="android.intent.action.BOOT_COMPLETED" />
		</intent-filter>
		</receiver>
		
		<receiver android:name=".SDKMsgReceiver" >
		<intent-filter>
		<action android:name="com.sina.push.msg.broadcast.22576" /></intent-filter>
		</receiver>
		
		<provider android:name="com.sina.push.datacenter.PushProvider"
		android:process=":remote"
		android:multiprocess="false"
		android:authorities="com.sina.push.pushprovider.22576"/>
		
		<meta-data android:name="sinapush_appid" android:value="22576" />
    </application>
</manifest>
